<a href="https://colab.research.google.com/github/HaniyeDousti/Machine-Learning-Project/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#Loading the dataset
credit_card_data = pd.read_csv('creditcard.csv')

In [ ]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
#Checking the number of missing value in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This dataset is unbalance because 99% of the dataset is legit transaction. We need to do some processing to make it balance.

0 --> Legit Transaction

1 --> Fraudulent Transaction

**Seperating the data for analysis**

In [ ]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
legit

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [ ]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [ ]:
#statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
#compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

**Under-Sampling**

Building a sample dataset containing similar distribution of legit and fraudulent transactions

In [33]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [34]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [37]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
20814,31284.0,-1.927568,1.710860,2.927845,1.491493,-0.487576,1.199628,-0.954756,-2.795616,0.084283,...,2.999778,-0.951073,0.107291,0.362647,0.527177,-0.070944,0.217063,0.107641,0.00,0
105222,69417.0,1.189511,-0.080542,0.828906,0.951067,-0.315896,0.797442,-0.650970,0.282291,0.635853,...,-0.080674,-0.034306,-0.168850,-0.826232,0.556710,-0.355549,0.070230,0.017528,10.81,0
178248,123549.0,-4.458872,-3.730525,0.755592,-1.605104,0.684565,0.872294,-0.064464,0.775249,1.371208,...,-0.238473,-0.608202,-0.894402,-1.221564,0.032543,0.411808,0.482381,-1.050514,418.20,0
106244,69885.0,-0.821927,0.940264,2.209738,-0.013267,0.271397,-0.735367,1.405783,-0.912383,0.993531,...,-0.425577,-0.173307,-0.259276,0.739139,-0.082610,0.102396,-0.262022,-0.569170,6.61,0
168183,119102.0,1.958380,-0.520753,-0.527214,0.103890,-0.462382,-0.106293,-0.587528,-0.037431,1.363779,...,0.247010,0.923633,0.069192,0.659629,-0.049016,0.153656,0.011942,-0.030132,39.98,0

In [38]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

So, the dataset is balance now

In [39]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,97778.191057,-0.110643,0.158990,0.093700,-0.061115,0.056891,0.076375,-0.006170,0.001145,0.011182,...,-0.014262,0.028815,-0.030686,-0.026683,0.021054,-0.009172,-0.001747,0.035473,-0.000844,72.743862
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [40]:
new_dataset.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,...,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000,984.000000
mean,89262.498984,-2.441296,1.891384,-3.469790,2.240457,-1.547167,-0.660681,-2.787451,0.285891,-1.284970,...,0.371201,-0.008319,-0.033496,-0.042038,0.016138,0.024951,0.103024,0.037412,97.477591,0.500000
std,48343.479988,5.488916,3.625754,6.234528,3.224737,4.201266,1.776868,5.834568,4.879136,2.356055,...,2.805864,1.176351,1.151029,0.560896,0.659650,0.460726,1.006068,0.430552,207.933298,0.500254
min,55.000000,-30.552380,-8.402154,-31.103685,-3.622436,-22.105532,-6.406267,-43.557242,-41.044261,-13.434066,...,-22.797604,-8.887017,-19.254328,-2.404883,-4.781606,-1.152671,-7.263482,-3.080163,0.000000,0.000000
25%,48517.750000,-2.800824,-0.086088,-5.074851,-0.110293,-1.775001,-1.548069,-3.066415,-0.193210,-2.298358,...,-0.166962,-0.547207,-0.247784,-0.386696,-0.319775,-0.283741,-0.056975,-0.053800,1.490000,0.000000
50%,84035.500000,-0.821023,1.050615,-1.278368,1.274730,-0.382564,-0.677205,-0.635039,0.182415,-0.750018,...,0.159500,-0.018307,-0.032980,0.003824,0.044969,-0.018360,0.055268,0.038326,18.000000,0.500000
75%,137042.250000,0.833481,2.833075,0.319662,4.229802,0.486683,0.081204,0.267778,0.892000,0.099300,...,0.655130,0.594500,0.184252,0.385435,0.370334,0.312205,0.471323,0.220976,99.922500,1.000000
max,172250.000000,2.298521,22.057729,3.167658,12.114672,11.095089,6.474115,5.802537,20.007208,6.760348,...,27.202839,8.361985,5.466230,1.182418,2.208209,2.745261,3.052358,1.779364,2125.870000,1.000000

In [41]:
legit2 = new_dataset[new_dataset.Class == 0]
fraud2 = new_dataset[new_dataset.Class == 1]

In [42]:
legit2.Amount.describe()

count     492.000000
mean       72.743862
std       139.456993
min         0.000000
25%         6.080000
50%        20.000000
75%        70.535000
max      1180.000000
Name: Amount, dtype: float64

In [43]:
fraud2.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

**Splitting the data into features and target**

In [44]:
X = new_dataset.drop(columns='Class', axis=1)
y = new_dataset['Class']

**Splitting the data into training and test data**

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=2)

**Training the model**

Logistic Regression

In [48]:
model = LogisticRegression()

In [49]:
model.fit(X_train, y_train)

LogisticRegression()

**Evaluation**

Accuracy Score

In [50]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)
training_data_accuracy

0.9224904701397713

In [52]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, y_test)
test_data_accuracy

0.8984771573604061